* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    font-size:12px;
    font-family:'Times New Roman', Times, serif;
    overflow: hidden;
    text-align: center;
    line-height: 1.4;
    width:100%;
}

.code, html, body {
    height:100vh;

}

.content {
    color:blueviolet;
    font-weight: 300;
    padding:0 2rem;
}


.code, .content, .footer {
    display:flex;
    align-items: center;
    justify-content: center;
}


.content, .footer {
    width:100%;
    position: relative;
    z-index:100;
}

.code, .content {
    flex-direction: column;
}

.footer {
    flex-wrap: wrap;
    max-width:600px;
    animation: change 0.5s 0.5s forwards;
   
}

.title {
    margin:0;

}

 .footer a {
     text-decoration: none;
     list-style: none;
     width:40%;
     padding:12px 18px;
     font-size: 16px;
     margin:20px auto 0 auto;
     cursor: pointer;
     color:black;
     border:2px solid;
     border-radius:99em;
     outline: none;
     transition:all 0.3s;

 }

 .footer a:hover {
     background-color:white;
     color:#222;
     border-color:white;

 }

 .text, .title {
     backface-visibility: hidden;
 }

 .title {
     font-size:6.4rem;
     font-weight:400;
     animation:change 0.5s forwards;
     color:blue;
     opacity: 0;
 }

 .text{
     max-width:50rem;
     font-weight: 400;
     padding:2rem 0;
     font-size:1.3rem;
     color:blue;
     animation:change 0.5s 0.3s forwards;
 }


 .wave {
     opacity:0.6;
     position: absolute;
     bottom:40%;
     left:50%;
     width:6000px;
     height:6000px;
     background:#000;
     margin-left:-3000px;
     transform-origin:50% 48%;
     border-radius:46%;
     animation:wave 12s infinite linear;
     pointer-events: none;
 }

 .wave{
     background:#000;
 }

.wave2 {
    animation: wave 28s infinite linear;
    opacity:0.3;
}


.wave3 {
    animation: wave 20s infinite linear;
    opacity:1;

}

.code {
    position: relative;
    background-color:#74b9ff;
    z-index:999;
}

@keyframes  change {
    from {
        transfotm:translateY(2rem);
        opacity:0;
    }
    to {
        transform: translateY(0);
        opacity:1;
    }
}

@keyframes wave {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


